.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*background-color: lightblue;*/
}
.widget_list {
  list-style-type: none;
}
.widget_list li {
  border: 1px solid #AAA;
}

.grid-stack-item-content {
    background: #AAA;
}

.grid-stack-item .grid-stack-item-content,
.grid-stack-item .placeholder-content {
    left: 4px;
    right: 4px;
}